@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Søkte etter gode farge palletter for en nettside */

:root {
  
    --color-bright: #00DDFF;
    --blue-accent: #3B82F6;
    --bg-dark: #0F172A;
    --blue-accent2: #1E3A8A;
    --charcoal: #1F2937;
    --soft-light: #E0F2FE;
    --link-color: #38BDF8;
    --color-bg: #ffffff;

}




/* CSS reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-size: 16px;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-dark);
    color: var(--soft-light);
}   

h1, h2, h3{
    font-family: "Open Sans";
}
p{
    font-family: "Roboto";
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}




ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}




/* /CSS reset */

.nav {
    background-color: var(--charcoal);
    color: var(--soft-light)

}


.nav a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 1.8rem;
    padding: 15px;

}




.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    max-width: 1200px;
    margin: 0 auto;
}



.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px;




}

.links a {
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px;
    transition: 0.3s ease;
}

.nav a:hover {
    transition: 500ms;
    border-radius: 10px;
    transform: scale(1.2);
    color: var(--link-color);
    filter: brightness(1.3);
    transition: 0.5s ease-in-out;



}



/* mobil vennlig */


    


@media (max-width: 750px) {
    .bar{
        flex-direction: column;
        align-items: center;
        padding: 10px;
        text-align: center;
    }

 
    

    .logo{
        margin-bottom: 10px;
        width: 100%;
        
    
    }

    .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        

    }

    .links a{
        display: block;
        width: 100%;
        padding: 10px;
        border-top: 1px solid rgba(225, 225, 225, 0.1);
    
    }

    .logo a{
        font-size: 1.6rem;
    }

    .nav a:hover{
        transform: none;
    
    }

    
}


.tittel h1 {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin: 100px 0 50px;
    text-shadow: 2px 2px 15px;
    letter-spacing: 2px;

}

.content-a {
    grid-row: 1 / 3;
    min-height: 300px;
    justify-content: center;
    align-items: center;

}

.content-a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right center;
    border-radius: 12px;
    transition: 0.5s ease-in-out;
}

.content-a:hover img {
    transform: scale(1.1);



}

.content-b h3{
    margin-bottom: 10px;
}

.content-b2 h3{
    margin-bottom: 10px;
}





.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 8px 25px;



}

.grid-container>div {
    background-color: #1F2937;
    border: 2px solid var(--blue-accent);
    color: var(--soft-light);
    padding: 30px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    font-size: 1.1rem;
    box-shadow: 0 4px 10px;
    font-weight: bold;


}

.grid-container>div:hover {
    transition: 0.3s ease-in-out;

}




.grid-container>* {
    border: 2px solid black;
    padding: 10px;


}


@media (max-width: 750px){
    .grid-container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .content-a,
    .content-b,
    .content-b2{
        grid-row: auto;
        width: 100%;
        padding: 20px;
        text-align: center;

    }

    .content-a img{
        width: 90%;
        object-fit: cover;
        height: auto;
        margin: 0 auto;
    }

    .grid-container > div{
        font-size: 1rem;
        padding: 20px;
    }

    
}


/* footer */

.footer {
    border: none;
    display: flex;
    color: var(--soft-light);
    filter: brightness(1.3);
    padding: 40px 20px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--charcoal);
    box-shadow: 0 2px 10px;
    width: 100%;
    
  



}

.footer h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;

}

.footer-links a {
    color: white;
    font-size: 1.8rem;
    transition: 0.3s ease-in-out;
}

.footer-links a:hover {
    transform: scale(1.2);
}




.copyright {
    font-size: 0.9rem;
    margin-top: 20px;
}

/* /footer */

/* timeplan */

.timeplan-overskrift{
    text-align: center;
    margin-bottom: 40px;
}

.timeplan-overskrift h1{
    font-size: 2.5rem;
    margin-bottom: 60px;
    color: var(--color-bright);
}

.timeplan-overskrift p{
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    color: var(--color-bright);
}

table {
    width: 100%;
    background-color: var(--soft-light);
    color: var(--bg-dark);
    border-collapse: collapse;
}



th,
td {
    border: 1px solid var(--charcoal);
    padding: 10px;
    text-align: center;
    font-size: 20px;


}

th {
    background-color: var(--charcoal);
    color: var(--soft-light);
    font-weight: bold;
}

td:hover {
    transform: scale(1.03);

}

.tabell {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

}

@media (max-width: 1060px) {
    th, td {
        font-size: 16px;
        padding: 8px;
    }
}

@media (max-width: 854px) {
    th, td {
        font-size: 14px;
        padding: 6px;
    }
}


@media (max-width: 724px) {
    th, td {
        font-size: 12px;
        padding: 4px;
    }
}

@media (max-width: 600px) {
    th, td {
        font-size: 10px;
        padding: 4px;
    }
}

@media (max-width: 500px) {
    th, td {
        font-size: 8px;
        padding: 4px;
    }
}

@media (max-width: 430px) {
    th, td {
        font-size: 7px;
        padding: 4px;
    }
}

/* Farge på fagene */


.Fysikk {
    background-color: #A3CEF1;
}

.Kjemi {
    background-color: #8FD694;
}

.Norsk {
    background-color: #F28B82;
}

.Spansk {
    background-color: #ea84db;
}

.Historie {
    background-color: #FFF3B0;
}

.Matte {
    background-color: #B5E48C;
}

.Gym {
    background-color: #90E0EF;
}

.IT {
    background-color: #9DCEB0;

}

.Klassens {
    background-color: #6d74ca;

}

/* /Farge på fagene */

/* /timeplan */

/* Interesser */

.interesser {

    min-height: 125vh;
    flex: 1;
    padding: 40px;
    text-align: center;
    color: var(--color-bg);

}

.interesser h2 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 100px;
    padding: 10px;
    color: var(--color-bright);
}

.interesser-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
    
}

.interesse {
    display: flex;
    flex: 1 1 200px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: flex 0.4s ease;
    border-radius: 12px;
    padding: 50px;
    border: 2px solid var(--color-bright);
    width: 80%;

    color: var(--color-bg);
}

.interesse-row{
    display: flex;
    gap: 20px;
}



.interesse i {

    font-size: 1.5rem;
    margin-bottom: 10px;
}

.interesse h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
    text-align: center;

}

.interesse p {
    font-size: 1.1rem;
    text-align: center;
    max-width: 90%;
    overflow: hidden;
    max-height: 60px;
    transition: max-height 0.4s ease;

}

.interesse:hover p {
    max-height: 500px;
}

.interesse img {
    border-radius: 12px;
    object-fit: cover;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    max-height: 0;
    transition: opacity 0.4s ease, max-height 0.4s ease;

}

.interesse:hover {
    flex: 3 1 200px;


}

.interesse:hover img {
    opacity: 1;
    max-height: 250px;
}


/* mobilvennlig */

@media (max-width: 750px) {
    .interesser {
        padding: 20px;
    }

    .interesser h2 {
        font-size: 1.5rem;
        margin-bottom: 50px;
    }

    .interesser-flex{
        flex-direction: column;
        gap: 30px   ;
        align-items: center;
    }
    .interesse-row{
        flex-direction: column;
        gap: 20px;
        width: 100%;

    }

    .interesse{
        width: 100%;
        padding: 30px;
        flex: 1 1 auto;
    }

    .interesse p {
        max-height: none;
    }

    .interesse img{
        opacity: 1;
        max-height: 200px;
    }

}



/* /Interesser */


/* bildegallery */

.bilder{
    text-align: center;
}


.bilder h1{
    font-size: 2.5rem;
    margin-bottom: 60px;
    color: var(--color-bright);
    padding: 20px;
    letter-spacing: 2px;

}

.bilde-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    grid-auto-rows: 200px;
    margin-bottom: 150px;


}

.boks{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);

}

.boks img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.boks.span3row{
    grid-row: span 3;
    
}






@media (max-width: 1000px) {
    .bilde-grid {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }

    .boks.span3row{
        
    }
}

@media (max-width: 750px){
    .bilde-grid{
        grid-template-columns: 1fr;
        gap: 15px;
        grid-auto-rows: 300px;
        max-width: 90%;
    }

    .boks img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    

}



